In [30]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
#import dataset + drop null
df = pd.read_csv('response indo.csv')
df = df.dropna()

newDf = df[["Music","Slow songs or fast songs","Dance","Folk","Country","Classical music","Musical","Pop","Rock","Metal or Hardrock","Punk","Hiphop, Rap","Reggae, Ska","Swing, Jazz","Rock n roll","Alternative","Latino","Techno, Trance","Opera","Smoking"]]

In [52]:
#check null value
newDf.isna().values.any()

False

In [53]:
#change smoking nevver smoked and tried to 0 and former and current to 1
newDf[['Smoking']] = newDf[['Smoking']].replace({'never smoked': 0, 'tried smoking': 0, 'former smoker': 1, 'current smoker': 1})

C:\Users\Albert\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [54]:
#print new df head
newDf.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,Punk,"Hiphop, Rap","Reggae, Ska","Swing, Jazz",Rock n roll,Alternative,Latino,"Techno, Trance",Opera,Smoking
0,3,3,1,1,1,1,4,5,1,1,1,4,1,4,1,1,1,1,1,0
1,5,3,5,4,4,4,5,4,5,5,4,5,4,5,5,5,4,5,4,1
2,5,2,1,2,1,5,5,4,1,1,1,1,1,3,1,1,1,1,3,0
3,5,2,3,3,4,4,4,4,2,2,2,3,2,5,3,3,4,3,3,0
4,5,3,4,4,3,3,3,4,3,3,3,4,3,4,3,3,3,3,3,0

In [55]:
#declare feature and target
X = newDf[["Music","Slow songs or fast songs","Dance","Folk","Country","Classical music","Musical","Pop","Rock","Metal or Hardrock","Punk","Hiphop, Rap","Reggae, Ska","Swing, Jazz","Rock n roll","Alternative","Latino","Techno, Trance","Opera"]].values
y = newDf[["Smoking"]].values

In [56]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [57]:
#implement svc classifier
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

C:\Users\Albert\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [58]:
y_pred = svclassifier.predict(X_test)

In [59]:
#print confusion matric and classification report
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[12  2]
 [ 1  0]]
              precision    recall  f1-score   support

           0       0.92      0.86      0.89        14
           1       0.00      0.00      0.00         1

    accuracy                           0.80        15
   macro avg       0.46      0.43      0.44        15
weighted avg       0.86      0.80      0.83        15

In [60]:
#print accuracy
from sklearn import metrics

print('Accuracy: ', metrics.accuracy_score(y_test, y_pred))
print("Mean Absolute Error (MAE): ", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error (MSE): ", mean_squared_error(y_test, y_pred))
print("R2: ", r2_score(y_test, y_pred))

Accuracy:  0.8
Mean Absolute Error (MAE):  0.2
Mean Squared Error (MSE):  0.2
R2:  -2.2142857142857135